{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('build/admin.css') }}">

<div id="root"></div>

<script type="text/javascript" src="{{ asset('build/admin.js') }}"></script>
{% endblock %}

