html {
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
}

.dialog{
    min-width: 600px;
    min-height: 450px;
    font-size: 14px;
}

.tab-container{
    border: 1px solid#eaeaea;
    padding: 10px;
    background: #f5f5f5;
}
.main-search-container{
    height: 300px !important;
}
.hidden { display:none; }

/** Begin Steper **/

.MuiTypography-body1-75{
font-size: inherit !important;
}
.MuiStepper-root-5{
    padding: inherit !important
}

.MuiStepIcon-root-52.MuiStepIcon-active-54{
    color:#b3c211 !important;
}

